* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #95bdff;
  background-size: 300% 300%;
  font-family: "Roboto", Helvetica;
}

.main_div {
  height: auto;
  width: auto;
  margin: 2rem 2rem 2rem 2rem;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #b4e4ff;
  position: relative;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -30px;
}

.div2 {
  height: auto;
  width: auto;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  min-height: 420px;
}

.fas_fa-search {
  cursor: pointer;
  padding: 10px;
  border: 2px solid white;
  color: white;
  background-color: #95bdff;
}

.searchBar {
  margin: 1rem;
  width: 18.5rem;
  border-radius: 0.3em;
  padding: 0.3em;
  color: #95bdff;
  border: 2px solid white;
}

.searchBar input {
  background-color: white;
  border: 2px solid white;
  height: 40px;
  padding: 5px;
  background-color: none;
  width: 240px;
  border-radius: 5px;
  font-size: 18px;
}

.mh {
  margin: 10px;
  width: 17rem;
  padding: 8px;
  border-radius: 15px;
  text-align: left;
  margin-left: 50px;
  color: white;
  background-color: #95bdff;
  border: solid white;
}

.content1 {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  height: 150px;
}

.line { 
  width: 130rem;
  gap: 5px;
  border: 1.5px solid black;
  border-radius: 11px;
  margin: 5px;
  padding: 10px 20px;
  background-color: #b4e4ff;
  display: flex;
  justify-content: baseline;
}
.editDel {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  right: 5%;
}

.line2 {
  margin: 5px;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.line3 {
  margin: 5px;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-modal {
  margin: 15px;
}

.main_footer {
  background-color: #00b0d9;
  color: #fff;
  font-size: 0.875em;
}

.main_footer .content {
  float: left;
  width: 90%;
  margin: 0 5%;
  padding: 5em 0;
}

.main_footer_copy {
  background-color: #01a2c8;
  width: 100%;
  float: left;
  text-align: center;
  padding: 1.5em 0em;
}

.main_footer_copy p {
  font-family: "Roboto";
  font-size: 1em;
  color: #e1e0e0;
  height: 20px;
}

.main_footer_copy .m-b-footer {
  margin-bottom: 0.5em;
}

.main_footer_copy .by a {
  color: #fff;
  text-decoration: none;
}

#myModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b4e4ff;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 5px 5px 5px;
}

#myModal input {
  background-color: white;
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 11px;
  display: flex;
}

#btn-modal,
#btn-fechar,
#add {
  background-color: #95bdff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
