*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #95BDFF ; 
    background-size: 300% 300%;
    font-family: "Roboto", Helvetica;
}


.main_div{
    height:auto;
    width: auto;
    margin: 2rem 2rem 2rem 2rem ;
    border:2px solid black;
    border-radius: 5px;
    background-color: #B4E4FF ;
    position: relative;
}
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.div2{
    height:auto;
    width:auto;
    margin: 1rem;
    border:2px solid black;
    border-radius: 15px;
    background-color: white;
    min-height: 500px;
}



.fas_fa-search{
    cursor: pointer;
    padding: 10px;
    border: 2px solid white;
    color: white;
    background-color: #95BDFF;
}

.searchBar{
    margin: 1rem;
    width: 18.5rem;
    border-radius: 0.3em;
    padding: 0.3em;
    color: #95BDFF;
    border: 2px solid white;
}
.searchBar input{
    background-color: white;
    border: 2px solid white;
    height: 40px;
    padding: 5px;
    background-color: none;
    width: 240px;
    border-radius:5px;
    font-size: 18px;
}



.mh{
    margin: 10px;
    width: 17rem;
    padding: 8px;
    border-radius: 15px;
    text-align: left;
    margin-left: 50px;
    color: white;
    background-color: #95BDFF;
    border: solid white;


}

.line2{
    cursor: pointer;
    width: 65px;
    height: 25px;
    border: 1px solid;
    margin-top: -9px;
    margin-left: 3px;
    margin-right: 9px;
    text-align: center;
    border-radius: 5px;
    background-color: #1c1c1f;
    color: rgb(162, 21, 21);
    float:right;
    justify-items: center;
}

.line3{
    cursor: pointer;
    width: 65px;
    height: 25px;
    border: 1px solid;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #1c1c1f;
    color: #333;
    float:right;
    justify-items: center;
}
.btn-modal{
    margin: 15px;
}
#myModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #B4E4FF ;
    padding: 1.5rem;
    border: 1px solid black; 
    border-radius: 5px;  
    z-index: 2;
    box-shadow: 5px 5px 5px ;
  }

  #myModal input{
    
    background-color: white;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 11px;
    display: flex;
    
  }
  
  #btn-modal, #btn-fechar, #add {
    background-color: #95BDFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

  }
